/* ANIMATIONS */
@keyframes flashing {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

/* STYLE */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.machine {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

/* SCREEN STYLE */
.screen {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}
.on-screen {
    flex:1;
    display: flex;
}
.on-screen--left {
    flex:1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.yvf, .role {
    height: 50px;
    display: flex;
    align-items: center;
}
.role {
    justify-content: center;
}
.n-selected {
    height: 50px;
    display: flex;
    align-items: center;
}
.number {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.flashing {
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.candidate--info {
    flex: 1;
    line-height: 30px;
}
.on-screen--right {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.candidate--image, .vice--image {
    border: 1px solid #000;
    background-color: #FFF;
    text-align: center;
    font-size: 14px;
}
.vice--image {
    width: 80%;
    font-size: 12px;
}
.candidate--image img, .vice--image img {
    width:100%;
}
.instructions {
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
    font-size: 12px;
}

.warning {
    font-size: 40px;
    font-weight: bold;
}
.warningG {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* KEYBOARD STYLE */
.keyboard {
    background-color: #403A3A;
    margin-left: 30px;
}
.keyboard--line {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.keyboard--button {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor:pointer;
    box-shadow: 3px 3px 0px #555;
}
.btn-blank, .btn-clear, .btn-conf {
    color: #000;
    font-size: 15px;
}
.btn-blank {
    background-color: #FFF;
}
.btn-clear {
    background-color: #F09046;
}
.btn-conf {
    background-color: #48C079;
    width: 90px;
    height: 50px;
}

